:root {
	--firstAnimeTime: 1s;
	--headTiltClock: 30deg;
	--headTiltAntiClock: calc(-1 * var(--headTiltClock));
	--rotationAmt: 20deg;
	--headTiltClockEnd: calc(var(--headTiltClock) + var(--rotationAmt));
	--headTitlAntiClockEnd: calc(-1 * var(--headTiltClockEnd));
	--skyBlue: #A6DCF7;
	--grassGreen: #7FFFAB;
	--darkGreen: #5DC967;
}

#cloud1{
	animation: shiftRight 40s linear infinite;
	animation-delay: var(--firstAnimeTime);
}

#cloud2{
	animation: shiftRight 35s linear infinite;
	animation-delay: var(--firstAnimeTime);
}

#str{
	animation: comeUp var(--firstAnimeTime) ease-out;
}

#sheep1Head {
	animation: shakeHeadClock 1s linear infinite;
	transform-origin: 694px 231px;
	transform: rotate(var(--headTiltClock));
	animation-direction: alternate;
	animation-delay: calc(var(--firstAnimeTime) + 2s);
}

#sheep2Head {
	animation: shakeHeadAntiClock 1.2s linear infinite;
	transform-origin: 508px 253px;
	transform: rotate(var(--headTiltAntiClock));
	animation-direction: alternate;
	animation-delay: calc(var(--firstAnimeTime) + 1s);
}

#sheep3Head {
	animation: shakeHeadAntiClock 1.5s linear infinite;
	transform-origin: 456px 239px;
	transform: rotate(var(--headTiltAntiClock));
	animation-direction: alternate;
	animation-delay: calc(var(--firstAnimeTime) + 1.5s);
}

@keyframes shiftRight {
    from {
    	transform: translateX(0px);

    }
    to {
    	transform: translateX(1500px);
    }
}

@keyframes comeUp {
	from {
		transform: translateY(150px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes shakeHeadClock {
	from {
		transform: rotate(var(--headTiltClock));

	}
	to {
		transform: rotate(var(--headTiltClockEnd));
	}
}

@keyframes shakeHeadAntiClock {
	from {
		transform: rotate(var(--headTiltAntiClock));
	}
	to {
		transform: rotate(var(--headTitlAntiClockEnd));
	}
}